
<div class="row">
  <h3 class="title">Code Forum - Coding Community.</h3>

  <div>
    <!-- TODO Will we do it? If not replace/remove -->
    <button class="new-posts-btn">
      <span class="material-icons-outlined">fiber_new</span>&nbsp;<span>New posts</span>
    </button>
    <button class="create-post-btn" [routerLink]="['/create-post']">
      <span class="material-icons-outlined">post_add</span>&nbsp;<span>Create post</span>
    </button>
  </div>
</div>

<!-- ? Can we do the slideshow? -->
<img src="assets/home-main.jpg" alt="Los-Angeles photo" class="main-image">

<app-forum-statistics></app-forum-statistics>

<app-topics></app-topics>
