.main {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  max-width: 1300px;
  margin: 0 auto;
  justify-content: center;
}

.profile-main {
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #808080;
  width: 100%;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.flex {
  display: flex;
}

header {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

img {
  background-color: #ceeccc;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  margin-left: 10%;
}

.comment {
  width: fit-content;
}

button {
  align-content: center;
  align-self: center;
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  font-family: inherit;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.btn-like {
  display: flex;
  width: 70px;
  background: #1bc977;
  color: white;
  padding: 5px;
  margin-top: auto;
  margin-left: inherit;
  justify-content: center;

}

.content {
  width: 70%;
  margin-left: 15%;
  margin-top: 5%;
}

h1 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 36px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.post-header {
  text-align: center;
}

h3 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-left: 10%;
  color: #1ea868;
  font-size: 20px;
}

.text {
  padding: 0 30px;
  margin-left: 30px;
}

.like {
  display: flex;
  justify-self: end;
  flex-direction: column;
  padding: 10px 20px;
}

.new-comment {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 10px 20px;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
}

.new-comment textarea {
  width: 100%;
  max-width: 100%;
  font-family: inherit;
  padding: 5px 10px;
}
