<div class="main">
  <div *ngIf="post" class="content">
    <h1>{{post.topic}}</h1>
    <h2>{{post.header}}</h2>
  </div>
  <div class="profile-main">

    <header>
      <img src="assets/profile.svg">
      <h3>{{post.author}}</h3>
    </header>

    <p class="text">{{post.text}}</p>

    <div class="like">
      <p class="date">Posted: {{post.date}}</p>
      <button (click)="like(post)" class="btn-like">
        <span class="material-icons-outlined">favorite</span>&nbsp;<span>{{post.likes}}</span>
      </button>
    </div>
  </div>

</div>

<h2 class="comment">Comments</h2>
<app-comment></app-comment>
