:host {
  background-color: #1D1D1D;
  color: whitesmoke;
  margin: 0;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  box-sizing: border-box;
}

.flex-container {
  background-color: transparent;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 10px;
  padding-bottom: 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;
}

.mission {
  max-width: 25%;
}

.mission h2 {
  color: #1BC977;
}

.contact {
  flex-basis: 30%;
}

.social-network-logo {
  width: 30px;
  margin-right: 15px;
  cursor: pointer;
}

.copyright {
  align-self: center;
  font-size: 0.9em;
  margin: 30px 0;
}

.copyright a {
  color: inherit;
  text-decoration: none;
}

.copyright a:hover {
  text-decoration: underline;
}
