h3{
  font-size: 20px;
  margin-top: 0px;
  padding-left: 20px;
  color: #1BC977;
  position: absolute;
}
html{
  height: 100%;
}
.contact ul {
  display: flex;
  list-style: none;
  padding-left: 420px;;
  padding-top: 10px;
}
.contact ul li{
  padding: 0px 10px;
  padding-left: 50px;
}
.copyright{
  text-align: center;
  background-color: black;
  height: 30px;
  justify-content: center;
}
h5{
  color: white;
  font-weight: normal;
  padding-top: 220px;;
  padding-left: 450px;
  position: absolute;
}
h4{
  color: white;
  font-weight: normal;
  font-size: 20px;
  padding-left:470px;
  padding-top: 50px;
}
p{
  color: whitesmoke;
  width: 290px;
  padding-bottom: 5px;
  padding-top:10px;
  padding-left:20px;
}
.mission{
  padding: 20px;
}

.container{
  background-color: #1D1D1D;
  position: sticky;
  top: 101%;
  width: 101.3%;
  margin-left:-8px;
  bottom: 0;
  display: flex;
  height: fit-content;
  padding-bottom: 0px;
}
