<div class="flex-container">
  <div class="mission">
    <h2>Our mission</h2>
    <p>Our mission is to help each other learn, build and share using code. By providing a community that supports each
      other, through discussion & question-based threads, to providing resources that will give developers the upper
      hand on creating their project. We strive forward together by helping out each other with complex to simple
      questions that a new developer may come up with. We now live in a world where we are surrounded by technology, and
      with technology comes code.</p>
  </div>


  <div class="contact">
    <h3>Connect with us</h3>
    <img class="social-network-logo" src="assets/instagram.svg" alt="Instagram">
    <img class="social-network-logo" src="assets/facebook.svg" alt="Facebook">
    <img class="social-network-logo" src="assets/twitter.svg" alt="Twitter">
    <img class="social-network-logo" src="assets/telegram.svg" alt="Telegram">
  </div>

</div>
<p class="copyright">Copyright © 2021 <a [routerLink]="['/']">CodeForum.ORG</a>. All rights reserved.</p>
