<div class="container">

    <div class="mission">
        <h3>Our mission</h3>
        <p>Our mission is to help each other learn, build and share using code. By providing a community that supports each other, through discussion & question-based threads, to providing resources that will give developers the upper hand on creating their project. We strive forward together by helping out each other with complex to simple questions that a new developer may come up with. We now live in a world where we are surrounded by technology, and with technology comes code.</p>
    </div>
    <div class="contact">
        <h4>Contact with us</h4>
        <ul>
            <li><img src="assets/insta.png" width="25px"></li>
            <li><img src="assets/face.png" width="25px"></li>
            <li><img src="assets/twit.png" width="25px"></li>
            <li><img src="assets/discord.png" width="25px"></li>
        </ul>
    </div>
    <h5>Copyright © 2021 CodeForum.ORG.  All rights reserved.</h5>

</div>