.main {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  max-width: 1400px;
  margin: 0 auto;
}

.title {
  flex-basis: 100%;
  display: flex;
  flex-flow: column nowrap;
  margin: 30px 0;
}

.page-title {
  text-align: center;
  font-size: 40px;
}

.create-post-btn {
  cursor: pointer;
  align-content: center;
  align-self: center;
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  font-family: inherit;
  border: 0;
  border-radius: 5px;
  background: #1bc977;
  color: white;
  padding: 5px;
}

.content {
  display: flex;
  box-sizing: border-box;
  flex-flow: row wrap;
  align-items: flex-start;
}

img {
  width: 500px;
  max-width: 40%;
  margin-top: 40px;
}

.posts {
  max-width: 70%;
}

