:host {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 10px;
  padding-bottom: 20px;
  margin: 80px auto;
  width: 100%;
  max-width: 1300px;
  box-sizing: border-box;
}

.user h1 {
  text-align: center;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5em;
  color: #1BC977;
  background-color: #aae5fd;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  margin: 30px;
}

.profile-info {
  flex-basis: 40%;
  display: flex;
  flex-flow: column nowrap
}

.profile-info fieldset,
.profile-info .form-buttons {
  box-sizing: border-box;
  border: 0;
  width: 70%;
}

.profile-info label {
  color: #1BC977;
  font-size: 1.5em;
  margin: 0.83em 0;
  font-weight: bold;
  display: block;
}

.profile-info input[type="text"],
.profile-info textarea {
  display: block;
  font-family: inherit;
  color: #1BC977;
  font-size: 1em;
  font-weight: 500;
  box-sizing: border-box;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 2px 5px;
  padding-right: 2px;
  width: 100%;
  margin: 0;
  margin-bottom: 5px;
}

.profile-info textarea {
  height: 8em;
}

.form-buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.profile-info button {
  font-family: inherit;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #1BC977;
  color: whitesmoke;
  width: 130px;
  height: 30px;
  border: 0;
  border-radius: 15px;
  overflow: hidden;
}

.profile-info button:focus {
  outline: 0;
}

.profile-info button:hover {
  background: white;
  box-shadow: 0 0 10px 5px #1BC977;
  color: inherit;
}
