<div class="main">
    <img class="logo" src="assets/logo-black.jpeg">
    <img class="picture" src="assets/login.svg">
    <form class="box">
        <h1>Login</h1>
        <input class="auth" type="text" name="" placeholder="Email">
        <input class="auth" type="password" name="" placeholder="Password">
        <input class="submit" type="submit" name="" value="Login">
        <div class="registration">If you don't have an account, <a routerLink="/register">Sign up</a> </div>
    </form>
</div>
