<!-- <p>registration works!</p> -->
<div>
    <img class="logo" src="../../assets/logo.jpeg">
    <form class="box" action="login.component.html" method="post">
        <h1>Register</h1>
        <input class="auth" type="text" name="" placeholder="Email">
        <input class="auth" type="text" name="" placeholder="Username">
        <input class="auth" type="password" name="" placeholder="Password">
        <input class="submit" type="submit" name="" value="Login">
        <div class="registration">Already have an account? <a href="#">Log In</a></div>
    </form>
    <img class="background" src="../../assets/backgr.jpeg">
</div>