<div class="main">
    <img class="logo" src="assets/logo-black.jpeg">
    <img class="picture" src="assets/registration.svg">
    <form class="box">
        <h1>Register</h1>
        <input class="auth" type="text" name="" placeholder="Email">
        <input class="auth" type="text" name="" placeholder="Username">
        <input class="auth" type="password" name="" placeholder="Password">
        <input class="submit" type="submit" name="" value="Login">
        <div class="registration">Already have an account? <a routerLink="/login">Log In</a></div>
    </form>
</div>
