<div class="content">
  <div class="notice-content">{{message}}</div>
  <h2>Write Post</h2>

  <label>
    <select [(ngModel)]="selectedTopic">
      <option *ngFor="let topic of topics" [ngValue]="topic">{{topic.theme}}</option>
    </select>
  </label>

  <label>
    <input type="text" placeholder="Post title" [(ngModel)]="title">
  </label>
  <label>
    <textarea placeholder="Enter text of post here" [(ngModel)]="postText" rows="10"></textarea>
  </label>

  <button class="submit" (click)="createPost()">
    <span class="material-icons-outlined">drive_file_rename_outline</span>&nbsp;Post thread
  </button>

</div>
