.content {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  max-width: 1300px;
  padding: 10px;
  box-sizing: border-box;
  margin: 40px auto;
}

.notice-content {
  box-sizing: border-box;
  border: 1px solid #f9b55e;
  border-radius: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px 10px;
  color: #3f3a23;
  background-color: #fcf8e4;
}

select {
  min-width: 50px;
  margin: 10px 0;
  font-family: inherit;
  font-size: 1rem;
}

textarea,
input {
  font-family: inherit;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  border: 1px solid #808080;
  border-radius: 5px;
  margin: 10px 0;
  padding: 5px 10px;
}

input {
  font-size: 1.1em;
}

.submit {
  width: fit-content;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: #19293a;
  color: white;
  padding: 5px 10px;
  margin: 10px 0;
  border: 0;
  border-radius: 5px;
  align-self: center;
}
