:host {
  display: flex;
  width: 100%;
  padding: 10px;
  max-width: 1300px;
  margin: 10px auto;
  box-sizing: border-box;
}

.content {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #808080;
  box-shadow: 2px 2px #808080;
  background-color: whitesmoke;
}

button {
  display: flex;
  align-items: center;
  background: #19293a;
  color: white;
  padding: 5px;
  height: 2.5em;
  border: 0;
  border-radius: 5px;
  bottom: 0;
}

h3 {
  margin: auto;
  font-weight: normal;
  font-size: 13px;
}

.text {
  display: block;
  padding: 30px 20px 20px;
}

header {
  display: flex;
  flex-direction: column;
  font-size: 13px;
}

.author {
  color: #1BC977;
  font-size: 25px;
  font-weight: bold;
}

.date {
  margin: 0;
}

.btn {
  cursor: pointer;
}

.likes-counter {
  font-weight: 500;
}
