a {
  color: #1BC977;
  text-decoration: none;
}

a:hover {
  color: rgba(27, 201, 119, 0.6)
}

p {
  color: #636468;
}

.all {
  padding: 10px 30px;
}

h2 {
  padding-left: 30px;
  color: rgba(25, 41, 58, 0.89);
}
